* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(253, 232, 234);
}

/* Header Section */
header {
  width: 90%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  Banner Section Styles */
#banner_section {
  width: 70%;
  margin: 50px auto;
}

#banner_section > h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 2px 2px 2px saddlebrown;
}

#banner_section > p {
  width: 50%;
  margin: 0 auto;
  color: rgb(89, 85, 85);
  text-align: center;
  margin-bottom: 25px;
}

/*  Hero Section Styles */

#hero_section {
  width: 70%;
  margin: 50px auto;
}
#hero_section img {
  width: 100%;
}

#buy-now-btn {
  display: flex;
  justify-content: center;
}

/*  Search Section Styles */

#search_section {
  width: 70%;
  margin: 50px auto;
}

#search_section > h2 {
  text-align: center;
  margin-bottom: 25px;
}

#search_container {
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  background: rgb(241, 239, 212);
  display: flex;
}
#search_bar {
  width: 70%;
}
#search_bar > input[type="text"] {
  padding: 15px;
  border: none;
  outline: none;
  width: 60%;
  background: rgb(241, 239, 212);

}

#search_btn {
  width: 30%;
  display: flex;
  justify-content: end;
}

/*  All Button Styles */

.btn {
  background-color: rgb(42, 42, 219);
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
}

.btn:hover {
  background: rgb(59, 59, 182);
  cursor: pointer;
  transition: 0.8s;
}
